<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
		<title>RexLedger Faucet Service</title>
	  <meta name="viewport" content="width=device-width,initial-scale=1">
		<meta http-equiv="refresh" content="5; url=https://bitshares.dacplay.org" />

	</head>
	<body>
		<h1>This is a Faucet Service for RexLedger network.</h1>
		<p>Please visit <a href="https://client.rexledger.com">Web Client</a> to start.</p>
	</body>
</html>